.item-chart {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    height: 100%;
    width: 48.7%;
    border-radius: 35px;
    box-shadow: -7px -7px 15px rgb(255, 255, 255), 7px 7px 15px rgba(121, 130, 160, 0.747);
    color: #1656f0;
}

.left{
    margin-left: 20px;
}


@media (min-width: 1500px) and (max-width:1600px)
{
    .item-chart {
        width: 48.5%;
    }
}

@media (max-height: 600px)
{
    .item-chart
    {
        display: none;
    }
}

@media (max-width: 768px){

    .left{
        margin-left: 0px;
    }

    
    .item-chart {
        display: flex;
        width: 90%;
        height: 48%;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: #dbe9fe;
    }
}

