:root {
    --height: 45vh;
    margin: 0px;
    padding: 0px;
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --primary-blue: #0d6efd;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    text-align: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}
.App {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    background-color: #c7deff;
}

@media (max-width: 768px) {
    
}
