.titles {
    display: flex;
    position: relative;
    height: 100%;
    width: calc(100% - 2rem);
    margin-top: 2px;
    margin-left: 2rem;
}

@media (max-width: 768px){
    .titles {
        margin-top: 105px;
       display: block;
       width: 90%;
    }
}
