.attendance {
    display: flex;
    flex-wrap: wrap;
    height: 48%;
    width: calc(100% - 2rem);
    margin-left: 2rem;
    margin-top: 2rem;
    position: absolute;
}

@media (min-width: 1500px) and (max-width:1600px)
{
    .attendance { 
        height: 46%;
    }
}

@media (max-width: 768px){
    .attendance {
        margin-left: 0px;
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        justify-content: center;
        background-color: #dbe9fe;
    }
}
