.wrapper-user {
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
    background-color: #f0f2f5;
}
.container-user {
    position: relative;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    height: 94.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.user-context {
    display: flex;
    align-items: center;
    height: 50px;

    & span {
        margin-left: 20px;
    }
    & .span {
        font-weight: 700;
    }
    & .user-link-home {
        text-decoration: none;
        color: black;
        opacity: 0.5;
        margin-left: 30px;
    }
}
