.salaryGlobal {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    & .link-salary {
        text-decoration: none;
    }

    & h1 {
        margin: 100px;
        font-size: 100px;

        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px){
    .salaryGlobal {
        display: flex;
        flex-direction: column;

        & .link-salary {
           margin-top: 120px;
        }

        & h1 {
            margin: 20px;
            font-size: 80px;
            font-weight: 600;
    
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }
}
