.Wrapper-body {
    display: flex;
    height: 79%;
    width: 100%;
    min-width: 0;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 2px 3px #cccccc;

    & .title-table {
        display: flex;
        justify-content: space-around;
        height: 80px;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccc;

        & .table-attendance-name {
            display: flex;
            align-items: center;
        }

        & .table-attendance-search {
            display: flex;
            align-items: center;

            & input {
                height: 50px;
                border: 1px solid #eee;
                transition: 0.25s ease;
                border-radius: 4px;
                padding: 20px 20px;
            }

            & input:focus {
                border-color: #6a5af9;
            }

            & .input-name {
                position: relative;
            }

            & .form-label-name {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 21px;
                cursor: text;
                user-select: none;
                color: #999;
                transition: 0.25s ease;
            }

            & .input-name-input:not(:placeholder-shown) + .form-label-name,
            .input-name-input:focus + .form-label-name {
                top: 0;
                padding: 0 10px;
                display: inline-block;
                background-color: white;
                color: #6a5af9;
                left: 11px;
            }

            & .input-salary {
                position: relative;
                margin-left: 20px;
            }

            & .form-label-salary {
                position: absolute;
                top: 50%;   
                transform: translateY(-50%);
                left: 21px;
                cursor: text;
                user-select: none;
                color: #999;
                transition: 0.25s ease;
            }

            & .input-salary-input:not(:placeholder-shown) + .form-label-salary,
            .input-salary-input:focus + .form-label-salary {
                top: 0;
                padding: 0 10px;
                display: inline-block;
                background-color: white;
                color: #6a5af9;
                left: 11px;
            }

            & .input-date {
                margin-left: 20px;

                & input {
                    height: 50px;
                    border: 1px solid #eee;
                    transition: 0.25s ease;
                    border-radius: 4px;
                    padding: 20px 20px;
                }
            }
        }
    }
    & .table {
        margin-top: 20px;
    }
}


@media (max-width: 768px){
    .Wrapper-body{
        display: block;
    }

   

    .title-table{
        width: 100%;

        .table-attendance-name{
            display: none !important;
        }

        & .table-attendance-search{
            display: flex;
            width: 100%;
            justify-content: space-around;

            & .form-label-name{
                color: black !important;
                opacity: 1;
                font-weight: 600;
            }

         

            & .input-name{
                width: 40%;

                & input{
                    width: 100%;
                    border: 1px solid #333;
                }

                & label{
                    border-radius: 5px;
                }
            }

            & .input-salary{
                display: none;
            }

            & .input-date{
                width: 40%;
                margin-left: 40px;
                
                & input{
                  width: 100%;
                  font-weight: 600;
                }
            }
        }
    }

  
}