.salary-aec {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;

    & .salary-header {
        height: 150px;
        width: 100%;
    }
}

@media (max-width:768px){
    .salary-aec {
        display: block;
        margin-top: 220px;
        height: 150px;
        width: 100%;

        & .salary-header {
            height: 100px;
            width: 100%;
        }
    }

    
}
