.wrapper-Line {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-color {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: var(--white);
    border-radius: 10px;

    & .wrapper{

        & .table{

           & .table-th-1{
               width: 10%;
           }
           & .table-th-2{
             width: 20%;
           }
            & .table-th-3{
                width: 20%;
            }
            & .table-th-4{
                width: 20%;
            }
            & .table-th-5{
                width: 20%;
            }

            & .table-td-1{
                width: 10%;
            }
            & .table-td-2{
              width: 20%;
            }
             & .table-td-3{
                 width: 20%;
             }
             & .table-td-4{
                 width: 20%;
             }
             & .table-td-5{
                 width: 20%;
             }
        }
    }
}

.table tr th {
    border: 1px solid #333;
    height: 80px;
    font-size: 20px;
    text-align: center;
}
.table tr th:nth-child(1) {
    background: #d5e0e0;
    border-radius: 20px 20px 0 0;
    border: 3px solid white;
}
.table tr th:nth-child(2) {
    background: #7868ed;
    border: none;
    border-radius: 20px 20px 0 0;
    border: 3px solid white;
}
.table tr th:nth-child(3) {
    background: #247070;
    border: none;
    border-radius: 20px 20px 0 0;
    border: 3px solid white;
}
.table tr th:nth-child(4) {
    background: #ff9378;
    border: none;
    border-radius: 20px 20px 0 0;
    border: 3px solid white;
}
.table tr th:nth-child(5) {
    background: #edc045;
    border: none;
    border-radius: 20px 20px 0 0;
    border: 3px solid white;
}
.table tr td {
    border: 3px solid #d5e0e0;
    height: 80px;
    border-top: none;
    text-align: center;
    font-size: 20px;

    & .link-machine {
        text-decoration: none;
    }
}

@media (max-width: 768px)
{
    .wrapper-Line {
        margin-top: 100px;

        & .wrapper-color {
            width: 100%;

            & .wrapper{

                & .table{

                    & .table-td-1{
                        font-size: 15px;
                        height: 50px;
                    }
                    & .table-td-2{
                        font-size: 15px;
                        height: 50px;
                    }
                     & .table-td-3{
                         font-size: 15px;
                         height: 50px;
                     }
                     & .table-td-4{
                         font-size: 15px;
                         height: 50px;
                     }
                     & .table-td-5{
                         font-size: 15px;
                         height: 50px;
                     }
                }
            }
        }
    }
}
