.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 30.6rem;
    height: 100vh;
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(to right, #131685, #5c4bc9);
}

.header-logo-mobile{
    display: none;
}

.container-mobile{
    display: none;
}

.checked{
    display: none;
}

.wrapper-mobile{ 
    display: none;
}

.wrapper-header-logo {
    position: static;
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 30.6rem;
}


.header-content {
    display: flex;
    position: static;
    height: 63.7rem;
    width: calc(100% - 30rem);
    text-align: center;

    & .click {
        display: flex;
        width: 100%;
        height: 100px;
    }
}
.box {
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: #5344c1;
    border-radius: 10px;
    height: 280px;
    
    &:hover {
        border-radius: 10px;
    }
    
}


.aec {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-decoration: none;
    align-items: center;
    float: left;
    height: 40px;
    margin-top: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 25px;
    
    & .icon {
        margin-right: 20px;
        color: white;
    }
    
    & .title {
        color: white;
        font-size: 20px;
    }
    
    &:hover {
        color: var(--white);
        font-weight: 700;
        margin-top: 10px;
        width: 100%;
        border-radius: 10px;
        height: 40px;
        font-size: 25px;
        box-shadow: -7px -7px 15px rgb(255 255 255), 7px 7px 15px rgb(121 130 160 / 75%);
    }
}

.logout {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px){
    .wrapper{
        display: none;
    }

    .checked{
        display: none;
        z-index: 1000;
    }

    .header-logo-mobile{
        display: block;
    }
    
    .container-mobile{
        display: block;
    }

    .container-mobile{
        margin-top: 22%;
        position: fixed;
        background-color: #dbe9fe;
        height: 90%;
        width: 100%;
        z-index: 10;
        left: -850px;   
        transition: all .5s;
    }

    input:checked ~ .container-mobile{
            left: 0px;
     }

    .header-logo-mobile{
        position: fixed;
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
        background-image: linear-gradient(to right, #131685, #5c4bc9);

        & span:nth-child(1){
            padding: 10px;
            font-weight: 600;
            font-size: 40px;
            background-color: transparent;

           a{
            text-decoration: none;
            background-color: transparent;
            color: white;
           }

            
        }
       


        & span:nth-child(2)
        {
            padding: 10px;
            color: black;
            border-radius: 5px;
        }
    }

    


    .wrapper-page{
        margin: 0 auto;
        height: 90%;
        width: 90%;
    }

    

    .content-mobile{
        height: 100%;
        width: 100%;


        & ul li {
            display: block;
            color: black;
            list-style: none;
            line-height: 90px;
            margin: 0 5px;
            text-align: center;

          
            
            & a{
                text-decoration: none;
                font-size: 25px;
                text-transform: uppercase;


                & span{
                    margin-left: 10px;
                    font-weight: 600;
                }
            }
        }
    }



   
}